<div>
    <div class="card text-center">
    <div class="card-header">
        Hello!
    </div>
    <div class="card-body">
        <h5 class="card-title">A PP app.</h5>
        <p class="card-text">This is just an exercize for Desafio Latam.</p>
        <a href="https://github.com/PedroSebastiaan" class="btn btn-primary">My Github <i class="fab fa-github"></i></a>
    </div>
    <div class="card-footer text-muted">
        © Untitled. All rights reserved.
    </div>
    </div>
</div>