// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.super-title{
    margin-left: 20rem;
}

@media (max-width: 737px) {
    #search-nav{
        display: block;
    }
    #search-ins{
        display: block !important;
        text-align: center !important
    }
    #search-form{
        display:block !important;
    }
    .form-control{
        width: 100% !important;
        margin-bottom: 10px;
    }
}